/* EXTRA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .blue-container::before {
    left: 32% !important;
  }
  .infos::before {
    left: 4px !important;
    top: -80px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  .btn-other {
    margin-top: 22px !important;
  }
  .order-car {
    margin-top: 70px !important;
  }
}






/* MOBILE */
@media only screen and (min-width: 0px) and (max-width: 600px) {
  header {
    padding: 0;
  }
  .swiper-slide img {
    width: 90%;
    margin: 0;
  }
  .inputs {
    width: 90%;
    margin-left: 20px !important;
  }
  .btn-other {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .input-field {
    margin: 0;
  }
  h6 {
    left: 30%;
    bottom: 28%;
  }
  .cars-models {
    width: 100%;
  }
  h4 {
    font-size: 20px;
  }
  .lorem {
    line-height: normal;
    white-space: normal;
    margin-bottom: 5px;
  }
  .bmw-bg {
    background-size: 90%;
  }
  .blabla img {
    width: 50%;
  }
  .texts {
    width: 100%;
  }
  .add {
    height: 200px;
  }
  h3 {
    font-size: 24px;
  }
  .white-bg::before {
    left: 0;
    width: 100%;
  }
  .container {
    width: 90% !important;
    padding-bottom: 70px;
  }
  .blue-container::before {
    left: 35%;
  }
  .btn-bottom {
    margin: 30px auto;
  }
  .infos {
    padding-top: 60px;
  }
  /* --------------------------------- */
  .fresh-left {
    width: 90%;
  }
  .fresh-right {
    width: 90%;
    height: 400px;
    margin-top: 20px;
  }
  .white-bg {
    padding-top: 150px;
  }
  .merco-price {
    font-size: 14px;
  }
  .white-part {
    padding: 25px 0 0 0;
  }
  .white-part p {
    line-height: 2;
    white-space: normal;
  }
  .white-part h4 {
    font-size: 16px;
    margin-top: 50px;
  }
  .blue-part::before {
    top: 30px;
  }
  .white-part button {
    margin-top: 60px;
  }
  .infos::before {
    width: 80% !important;
    background-size: 100% !important;
  }
}
/* ---------------------------------- */


@media only screen and (min-width: 601px) and (min-width: 992px) {
  .swiper-slide img {
    width: 50%;
    margin: 0;
  }
  .inputs {
    width: 90%;
    margin-left: 35px !important;;
  }
  .btn-other {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  h6 {
    left: 45%;
    bottom: 17%;
  }
  .cars-models {
    width: 100%;
  }
  h4 {
    /* font-size: 20px; */
  }
  .add {
    height: 200px;
  }
  h3 {
    font-size: 28px;
  }
  .white-bg::before {
    left: 20%;
  }
  .container {
    width: 90% !important;
    padding-bottom: 70px;
  }
  .blue-container::before {
    left: 44%;
  }
  .btn-bottom {
    margin: 30px auto;
  }
  .texts {
    width: 50%;
  }
  .infos::before {
    left: 10px;
  }
  /* ----------------------------------- */
}




/* INTERMEDIATE BREAKPOINTS */

@media only screen and (min-width: 601px) and (max-width: 846px) {
  .white-bg::before {
    left: 10% !important;
    width: 85%;
  }
}
